.todoInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todoInput svg {
  cursor: pointer;
}

.inputBox {
  width: 80%;
}

.editTodoIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoInput input {
  background-color: $pinkColorlight;
  width: 100%;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  border: none;
  // border: 1px solid $bgColor;
  // border-radius: 5px;
}

.editTodoIconsBox svg {
  margin: 0 1vw 0 0;
}

.XIcon {
  font-size: 2.9vw;
  color: rgba(255, 0, 0, 0.7019607843);
}

.checkIcon {
  font-size: 3.2vw;
  color: rgba(0, 128, 0, 0.726);
}

@media only screen and (max-width: 810px) {
  .XIcon {
    font-size: 3.2vw;
  }
  .checkIcon {
    font-size: 3.7vw;
  }
}

@media only screen and (max-width: 640px) {
  .XIcon {
    font-size: 4vw;
  }
  .checkIcon {
    font-size: 4.5vw;
  }
}

@media only screen and (max-width: 480px) {
  .todoInput input {
    font-size: 18px;
  }
  .inputBox {
    width: 70%;
  }
  .XIcon {
    font-size: 5vw;
  }
  .checkIcon {
    font-size: 5.5vw;
  }
}

@media only screen and (max-width: 414px) {
  .todoInput input {
    font-size: 16px;
  }
  .XIcon {
    font-size: 6vw;
  }
  .checkIcon {
    font-size: 6.5vw;
  }
  .checkIcon {
    font-size: 6.5vw;
  }
}

@media only screen and (max-width: 314px) {
  .inputBox {
    width: 60%;
  }
}
