@import "../index.scss";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.todoBlock {
  display: grid;
  grid-template-columns: 9% 71% 20%;
  align-items: center;
  width: 90%;
  background-color: #ff82ba;
  color: #322b2b;
  text-shadow: 0px 0px 0px #000;
  border: 1px solid #686868;
  border-radius: 6px;
  margin: 0.5vw 0;
  padding: 15px 15px;
  animation: Todo_animationTodoBlock__KXCYM 1s ease;
}

.completedTodo {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid gray;
  text-shadow: unset;
  color: gray;
}

.watchTodo {
  grid-template-columns: auto;
  padding: 15px 15px;
}

.todoBlock svg {
  font-size: 25px;
}

.todoIcon {
  color: #28282b;
}

.todoBox {
  display: flex;
  align-items: center;
  justify-content: start;
}

.todoBoxIcons {
  display: flex;
  align-items: center;
  justify-content: end;
}

.todoBoxIcons svg {
  margin: 0 5px;
}

.textBlock {
  text-align: start;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}

.visTextBlock {
  width: 100%;
  margin: 5px 15px;
  white-space: break-spaces;
  word-break: break-all;
}

.todoBox button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  display: contents;
}

.deleteIcon,
.checkIcon,
.XIcon {
  cursor: pointer;
}

.deleteIcon {
  color: #ff0000b3;
}

.checkIcon {
  color: rgba(0, 128, 0, 0.726);
}

.completedTodo svg {
  color: gray;
}

.todoBlock.completed svg:hover {
  color: gray;
}

@keyframes animationTodoBlock {
  0% {
    box-shadow: 0px 0px 20px $pinkColor;
  }
  100% {
    box-shadow: unset;
  }
}

@media only screen and (max-width: 1100px) {
  .visTextBlock {
    width: 100%;
  }
}

@media only screen and (max-width: 810px) {
  .visTextBlock {
    width: 100%;
  }
  .todoBoxIcons svg {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 640px) {
  .visTextBlock {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .todoBlock {
    width: 85%;
    padding: 8px 10px;
    margin: 7px 0;
  }
  .todoBlock svg {
    font-size: 20px;
  }
  .textBlock {
    font-size: 18px;
  }
  .visTextBlock {
    width: 100%;
  }
}

@media only screen and (max-width: 414px) {
}

@media only screen and (max-width: 360px) {
  .visTextBlock {
    width: 100%;
  }
  .todoBlock {
    padding: 12px 10px;
  }
}
