@import "../index.scss";

.todoForm {
  margin: 2vw 0;
}

.todoForm input {
  background-color: #fff0;
  color: #fff;
  width: 25%;
  height: 30px;
  border: 1px solid #ffffff4d;
  border-radius: 5px;
  animation: inputGrow 2s ease-in-out infinite alternate;
}

.todoForm button {
  background-color: $pinkColor;
  color: #fff;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

.todoForm button:hover {
  background-color: #da5590;
}

.todoForm input,
button {
  padding: 10px 15px;
  font-size: 18px;
}

@keyframes inputGrow {
  0% {
    box-shadow: 0px 0px 0px #bb487b;
  }
  100% {
    box-shadow: 0px 0px 3px #bb487b;
  }
}

@media only screen and (max-width: 1100px) {
  .todoForm input {
    width: 30%;
    height: 28px;
  }
}

@media only screen and (max-width: 810px) {
  .todoForm input {
    width: 35%;
    height: 25px;
  }
  .todoForm button {
    height: 48px;
    width: 48px;
    margin-left: 13px;
  }
  .todoForm input,
  button {
    padding: 7px 13px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 640px) {
  .todoForm {
    margin: 22px 0;
  }
  .todoForm input {
    width: 50%;
    height: 25px;
  }
  .todoForm button {
    height: 41px;
    width: 41px;
    margin-left: 10px;
  }
  .todoForm input,
  button {
    padding: 5px 10px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .todoForm input {
    width: 60%;
    height: 30px;
  }
  .todoForm button {
    height: 43px;
    width: 43px;
  }
  .todoForm input,
  button {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .todoForm {
    margin: 20px 0;
  }
}
